@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
body {
    background-color: #2f3343;
    color: white;
}

#card-info pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.btn>* {
    pointer-events: none;
}

.panel {
    background-color: #ffffff11;
    border-radius: 4px;
}

.nav {
    background-color: #282c39;
}

.card-prev {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-custom {
    background-color: #2f3343;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.modal-body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.modal-footer {
    border-top: none;
}

.modal-large {
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
}

.filled {
    width: 100%;
    height: 100%;
}

a.nav-link {
    cursor: pointer;
}

textarea {
    font-family: monospace;
}

.custom-list {
    list-style-type: none;
}

.term-list-item {
    padding: 5px 10px 5px 10px;
    background-color: #21242b;
    border-radius: 5px;
    margin-bottom: 8px;
}

.note-list-item {
    padding: 5px 10px 5px 10px;
    background-color: #21242b;
    border-radius: 5px;
    margin-bottom: 3px;
}

.dictionary-item {
    padding-left: 15px;
    background-color: #21242b;
    border-radius: 5px;
    margin-bottom: 3px;
}

.dictionary-item.active {
    padding-left: 15px;
    background-color: #3d4557;
    border-radius: 5px;
    margin-bottom: 3px;
}

.dict-name {
    padding: 15px;
    align-self: center;
    font-size: 1.5rem;
}

.main-term {
    font-size: 1.5rem;
}

.reading {
    font-size: 1.1rem;
    color: #ffffffcc;
}

.definitions {
    font-size: 1rem;
    line-height: 80%;
    white-space: pre-wrap;
}

.dictionary-name {
    font-size: 0.8rem;
    color: #ffffffaa;
}

.field-label {
    font-size: 0.8rem;
    color: #ffffffcc;
}

.field-value {
    font-size: 1.2rem;
    list-style-type: initial;
    list-style-position: inside;
}

.scrollable {
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.scrollable::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.min-height-0 {
    min-height: 0;
}

.flex-even {
    flex: 1;
}

.export-def {
    padding: 2px 6px 2px 6px;
}

.btn-transparent {
    background-color: transparent;
    color: white;
}